<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <style>table,
td {
    border: 1px solid #333;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: "Arial Black",serif;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
</style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>

</head>
<body  background="https://gamerwall.pro/uploads/posts/2022-03/1647874378_2-gamerwall-pro-p-oblaka-fon-krasivie-2.jpg" >

<table class="table table-bordered ">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Group name</th>
        <th scope="col">Date of start</th>
        <th scope="col">Date of finish</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.dateOfFinish}"></td>
        <td><a th:href="@{groups/updateGroup(groupId=${group.id})}">
            <button style="height: 40px; color: white;border-width: 0px; width: 80px;
             background-color:#2bccd3; font-size: large; border-radius: 5px">update</button>
        </a>
        </td>
        <td><form th:method="DELETE" th:action="@{/groups/deleteGroup/(groupId=${group.id})}"
               onclick="return confirm('Are you sure you want to delete this company?');">
            <button style="height: 40px;color: white;border-width: 0px; width: 80px;
             background-color:#4d2121; font-size: large; border-radius: 5px">delete</button>
        </form></td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
<input style=" display: block; margin:auto; font-size:30px; border-radius: 5px;color: #ffffff; background-color: #000000"
       type="button" value="Add group"
       onclick="window.location.href = 'groups/addGroup'">
<br>
<input style=" display: block;  margin:auto; font-size:30px; border-radius: 5px; color: #ffffff; background-color: #4d2121"
       type="button" value="Main"
       onclick="window.location.href = '/'">
</body>
</html>